:root {
  --transition-1: all 0.3s linear;
}

img {
  object-fit: cover;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
/* global */
.section-divition {
  margin: 10vh 0;
}

.cursor {
  cursor: pointer;
}

.page-height {
  min-height: 90vh;
}

/* Home */
/* .single-detail-section {
  height: fit-content;
} */
/* .image-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  height: 600px;
  width: 600px;
} */

.details-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.details-container .details-wrapper:nth-child(odd) .single-detail-section {
  flex-direction: row-reverse !important;
}

/*  news letter */
/* .newsletter-container {
  height: 50vh;
  width: 100%;
} */

/* .newsletter__single-section {
  position: absolute;
  width: 100%;
  height: 100%;
  --bs-gutter-x: 0;
}
.newsletter-text {
  opacity: 0;
} */

/* Contact section */
/* textarea {
  height: 160px;
  resize: none;
}

@media screen and (min-width: 960px) {
  .contact-form-area {
    padding-left: 3rem;
  }
} */

/* section title */
.section-title-container {
  position: relative;
  height: 200px;
}

.section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;

  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title:nth-child(2) {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

/* PRODUCT PAGE */
.product-single {
  overflow: hidden;
}
.product-options {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  clip-path: circle(3.9% at 90% 10%);
  background: rgb(0, 0, 0);
  transition: var(--transition-1);
}
.product-options__readmore {
  position: absolute;
  background: rgb(0, 0, 0);
  width: 7%;
  height: 7%;
  color: white;
  right: 6.5%;
  top: 6.5%;
  transition: var(--transition-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .product-options__dsc {
    height: 100%;
  }
}

.product-options__readmore-icon {
  width: 50%;
  height: 50%;
}
.product-options:hover {
  clip-path: circle(120.7% at 84% 14%);
  background: rgb(0, 0, 0, 0.5);
  transition: all 0.5s linear;
}
.product-options:hover .product-options__readmore {
  transform: rotate(90deg);
  background: transparent;
}

.product-options:hover .product-options__readmore {
  transform: rotate(90deg);
  background: transparent;
}
.product-options__dsc {
  opacity: 0;
  transition: var(--transition-1);
}

.product-options:hover .product-options__dsc {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.product-icon-wrapper {
  transition: var(--transition-1);
}

.product-options:hover .product-icon-wrapper {
  transform: translateY(0);
  transition-delay: 0.2s;
}

.product-icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6c757d;
  transition: var(--transition-1);
}
.shareIcon {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.product-icon:hover {
  background: #5c636a;
}

/* checkout */
#payment-message {
  color: var(--special-color-1);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}
/* Buttons and links */
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}
