:root {
  --transition-1: all 0.3s linear;
}

img {
  object-fit: cover;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
/* global */
.section-divition {
  margin: 10vh 0;
}

.cursor {
  cursor: pointer;
}

.page-height {
  min-height: 90vh;
}

/* COMPANY DETAILS */

.details-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.details-container .details-wrapper:nth-child(odd) .single-detail-section {
  flex-direction: row-reverse !important;
}

/* SHARE ICON */
.product-icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6c757d;
  transition: var(--transition-1);
}
.shareIcon {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.product-icon:hover {
  background: #5c636a;
}
